include required(classpath("application"))
 
backend {
  default = "LSF"
  providers {
    LSF {
      actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
      config {
        submit = """
        bsub \
        -J ${job_name} \
        -cwd ${cwd} \
        -o ${out} \
        -e ${err} \
        -M 12000000 \
        -n 1 \
        -R "select[mem>12000] rusage[mem=12000]" \
        /bin/bash ${script}
        """

        job-id-regex = "Job <(\\d+)>.*"
      }
    }
  }
}
